<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Ajusta Data Source si tu instancia no es .\SQLEXPRESS -->
    <add name="Concesionario"
         connectionString="Data Source=LAPTOP-UQKB2TBV;Initial Catalog=ConcesionarioRustEze;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Rellena con tu proveedor SMTP -->
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpPort" value="587" />
    <add key="smtpEnableSsl" value="true" />
    <add key="smtpUser" value="tu.email@gmail.com" />
    <add key="smtpPass" value="TU_APP_PASSWORD" />
    <add key="smtpFrom" value="tu.email@gmail.com" />
    <add key="smtpFromName" value="Rust-Eze" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>