<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Concesionario"
         connectionString="Data Source=LAPTOP-UQKB2TBV;Initial Catalog=ConcesionarioRustEze;Integrated Security=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpPort" value="587" />
    <add key="smtpEnableSsl" value="true" />
    <add key="smtpUser" value="ramonavila123567@gmail.com" />

    <add key="smtpPass" value="lgvk zccv cqvs twzx" />

    <add key="smtpFrom" value="ramonavila123567@gmail.com" />
    <add key="smtpFromName" value="Rust-Eze" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>